USE [master]
GO
/****** Object:  Database [LogbookDB]    Script Date: 3/11/2023 2:47:39 pm ******/
CREATE DATABASE [LogbookDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LogbookDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\LogbookDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LogbookDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\LogbookDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LogbookDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LogbookDB]
GO
/****** Object:  User [Logbookuser]    Script Date: 3/11/2023 2:47:39 pm ******/
CREATE USER [Logbookuser] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Logbookuser]
GO
/****** Object:  Table [dbo].[People]    Script Date: 3/11/2023 2:47:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PK_PeopleID] [int] NOT NULL,
	[PeopleNric] [varchar](20) NOT NULL,
	[PeopleName] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_PeopleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Records]    Script Date: 3/11/2023 2:47:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Records](
	[PK_RecordID] [int] NOT NULL,
	[FK_PeopleID] [int] NOT NULL,
	[FK_SignInID] [int] NOT NULL,
	[FK_SignOutID] [int] NULL,
	[Reason] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignIn]    Script Date: 3/11/2023 2:47:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignIn](
	[PK_SignInID] [int] NOT NULL,
	[SignInDate] [varchar](10) NOT NULL,
	[SignInTime] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_SignInID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignOut]    Script Date: 3/11/2023 2:47:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignOut](
	[PK_SignOutID] [int] NOT NULL,
	[SignOutDate] [varchar](10) NOT NULL,
	[SignOutTime] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_SignOutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Records]  WITH CHECK ADD FOREIGN KEY([FK_PeopleID])
REFERENCES [dbo].[People] ([PK_PeopleID])
GO
ALTER TABLE [dbo].[Records]  WITH CHECK ADD FOREIGN KEY([FK_SignInID])
REFERENCES [dbo].[SignIn] ([PK_SignInID])
GO
ALTER TABLE [dbo].[Records]  WITH CHECK ADD FOREIGN KEY([FK_SignOutID])
REFERENCES [dbo].[SignOut] ([PK_SignOutID])
GO
/****** Object:  StoredProcedure [dbo].[AddRecord]    Script Date: 3/11/2023 2:47:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRecord]
	@inputPeopleNric VARCHAR(20),
	@inputPeopleName VARCHAR(300),
	@inputReason VARCHAR(300),
	@inputSignInDate VARCHAR(10),
	@inputSignInTime VARCHAR(8)
AS
BEGIN
	-- Declare variables to insert into Records
	DECLARE @newPeopleID AS INT;
	DECLARE @newSignInID AS INT;
	DECLARE @newRecordID AS INT;

	--Create New Entry in People
	--Check if NRIC exist
	Select @newPeopleID = PK_PeopleID from People WHERE PeopleNric = @inputPeopleNric;
	Insert INTO People(PK_PeopleID, PeopleNric, PeopleName) VALUES (@newPeopleID, @inputPeopleNric, @inputPeopleName);
	
	--Create New Entry in Sign In 
	SELECT @newSignInID = COUNT(PK_SignInID) + 1 from SignIn;
	Insert INTO SignIn(PK_SignInID, SignInDate, SignInTime) VALUES (@newSignInID, @inputSignInDate, @inputSignInTime);

	--Create New Entry in Records
	SELECT @newRecordID = COUNT(PK_RecordID) + 1 from Records;
	Insert INTO Records(PK_RecordID, FK_PeopleID, FK_SignInID, FK_SignOutID, Reason) 
	VALUES (@newRecordID, @newPeopleID, @newSignInID, NULL, @inputReason);
END
GO
USE [master]
GO
